<div class="conatiner header">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/homeloan">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/personalInfo">Personal Information</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/loanForm">Loan Details</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/EMIForm">Pay Your EMI</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/transactionForm">Transaction</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/refundForm">Payment/ Refund Related</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/statementForm">Statement Of Account</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/repaymentForm">Repayment Schedule</a>
        </li>
    </ul>
</div>