<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/consumer">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/personaldetails">Personal profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/kyc">KYC FORM</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/consumerloan">Loan Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/consumertransaction">Consumer Transaction Form</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/refund">Consumer Payment Refund</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/noc">NOC</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/fs">ForeClouse Simulation</a>
              </li>
             
            </ul>
          </div>
        </div>
      </nav>
</div>
