<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loan</title>
</head>
<body>
    <nav class="navbar fixed-top ">
        <span> <img src="../../assets/images/Cloudesign Sports Event banner.jpg" alt=""></span>
        <span class="material-icons md-light" style="font-size:50px;">home</span>
        <span class="material-icons md-light " style="font-size:40px; padding-right: 9%;">announcement</span>
       </nav>
       <!-- banner part -->
       <div class="conatiner">
           <div class="banner">
               <div class="imgs">
                   <img src="../../assets/images/banner.png" alt="">
               </div>  
              
                   <div class="row">
                       <div class="col-xl-6">
                           <!-- <a routerLink="consumer" style="text-decoration: none;"> -->
                           <h2 class="text-center" routerLink="consumer">CONSUMER</h2>
                        <!-- </a> -->
                       </div>
                       <div class="col-xl-6">
                        <!-- <a routerLink="homeloan" style="text-decoration: none;"> -->
                        <h2 class="text-center" routerLink="/homeloan">HOME LOAN</h2>
                    <!-- </a> -->
                    </div>
                 
               </div> 
           </div>
        </div>
       
    
       

</body>
</html>