section {padding-bottom: 30px;}

.container {border-radius: 4%; box-shadow: 7px 6px 16px 15px #eee; padding: 20px; width: 80%;}
mat-label{font-size: 20px; color: black;}
.block{padding: 5px 20px;}
input{padding: 10px 0; font-size: 18px;}

select{padding: 18px 0; font-size: 18px;}
option {font-size: 18px; padding: 15px;}
.btn {width: 60%;}
.main {padding-bottom: 50px;}