<div class="">
    <app-main></app-main>
    <div class="container">
        
        <div class="row">
            <div class="col-md-4 col">
                <div class="tab1 pb-5 card">
                    <div class="heading">
                        <h2 class="text-center pt-3 pb-3">Update Profile</h2>
                    </div>
                    <ul>
                        <li><a routerLink="/personalInfo"><span class="txt">Personal Information</span></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 col ">
                <div class="tab1 pb-5 card">
                    <div class="heading">
                        <h2 class="text-center pt-3 pb-3">Loan Details</h2>
                    </div>
                    <ul>
                        <li><a routerLink="/loanForm"><span class="txt">Loan Details</span></a></li>
                        <li><a routerLink="/EMIForm"><span class="txt">Pay Your EMI</span></a></li>
                        <li><a routerLink="/transactionForm"><span class="txt">Last 10 Transactions</span></a></li>
                        <li><a routerLink="/refundForm"><span class="txt">Payment/Refund Related</span></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 col ">
                <div class="tab1 pb-5 card">
                    <div class="heading">
                        <h2 class="text-center pt-3 pb-3">Document Request</h2>
                    </div>
                    <ul>
                        <li><a routerLink="/statementForm"><span class="txt">Statement Of Account</span></a></li>
                        <li><a routerLink="/repaymentForm"><span class="txt">Repayment Schedule</span></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

