.tab {border: 1px solid;}
.tab1 { box-shadow: 7px 6px 16px 15px  #eee; width: 95%; height: 100%;}
.tab1 a{text-decoration: none; color: #222d39;}
.tab1 li {padding-bottom: 10px;}
.txt {font-size: 16px; font-weight: 500;}
ul{list-style-type:none;}