
<div class="main">
     <section >
          <div class="container">
              <app-header2></app-header2>
          </div>
          </section>
<div class="container">


<h3>Subject: Clearance of Personal Loan</h3>
<br><br>
<p>This is certify that Name: <input type="text"> is our customer and has settled personal loan and 
     in full and final with the bank. We further confirm that no outstanding payment 
     is due and payable by the customer as of date against the said finance facility loan in our books.</p>

<h4> Please note that this certificate does not constitute any financial undertaking /liability 
and is being issued without any risk and responsibility on the part of the bank or any of its officers.</h4>

Sincerely,<br><br><br><br>

Branch Manager <br><br><br><br>

Bank Name: <input type="text" name="" id=""><br><br><br><br>
</div>
</div>
